<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HELLO GUYS</h1>
    <h2>perkenalkan saya ude rahman</h2>
links
<ul>
    <li> about</li>
</ul>
</body>
</html>